.note_title_container {
    display: flex;
}

.note {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 10px;
    min-height: 40px;
    width: 150px;
    height: fit-content;
    background: #ffffff;
    border: 1px solid var(--primary);
    padding: 10px;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 40%);
    border-radius: 3px;
}

.note_input {
    width: 100% !important;
}

.note_title {
    font-weight: bold;
    font-size: 110%;
    display: inline-block;
    width: 135px;
    color: var(--secondary);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid var(--primary2);
    text-shadow: 0.25px 0.25px 0 var(--textShadowcolor),
        0.25px 0 0 var(--textShadowcolor), -0.25px 0 0 var(--textShadowcolor),
        0 -0.25px 0 var(--textShadowcolor), 0 0.25px 0 var(--textShadowcolor);
}

.edit_button,
.delete_button {
    transform: translate(15px, -15px);
    background: var(--secondary);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 50%;
    box-shadow: 0 4px #999;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.6));
    width: 25px;
    height: 25px;
}

.edit_button {
    transform: translate(10px, -15px);
}

.edit_button:hover,
.delete_button:hover {
    background-color: var(--secondary2);
}

.edit_button:active,
.delete_button:active {
    background-color: var(--secondary3);
    box-shadow: 0 2px #666;
    transform: translate(15px, -13px);
}

.edit_button:active {
    transform: translate(10px, -13px);
}

.note_description {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1em;
    min-height: 1em;
    line-height: 1em;
    white-space: nowrap;
    margin-top: 2px;
    cursor: pointer;
}

.note_description_show {
    white-space: pre-wrap;
    text-overflow: unset;
    overflow: visible;
    word-break: break-all;
    hyphens: auto;
    height: auto;
    min-height: 2em;
}

.delete-icon {
    width: 1.5em;
    height: 1.5em;
    transform: translate(-22%, 1%);
}

.cancel-icon {
    width: 1.1em;
    height: 1.1em;
    transform: translate(-18%, 10%);
}

.save-icon {
    width: 1.1em;
    height: 1.1em;
    transform: translate(-9%, 11%);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0.15em dotted #24292e;
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 1));
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: var(--primary2);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5ch;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--primary2) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
