code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --verde: #029d92;
    --verde2: #00756d;
    --verde3: #00504b;
    --roxo: #82288d;
    --roxo2: #491d4e;
    --roxo3: #361b3a;
    --headercolor: #353c44;
}

body,
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ebedef;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.005em;
    overflow-x: hidden;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#root,
.App {
    width: 100%;
    height: 100%;
}