.notes_container {
    display: flex;
    flex-direction: column;
}

.notes_inner_container {
    flex-direction: row;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin-bottom: 50px;
    overflow-y: scroll;
    height: calc(100vh - 120px);
    padding-top: 31px;
}

.notes_container_h1 {
    height: 1em;
    margin-bottom: 0;
}

.loading_container {
    justify-content: center;
}

.notes_inner_container,
.loading_container {
    display: flex;
    min-width: calc(100% - 50px);
    padding-left: 50px;
    padding-right: 50px;
}

@media screen and (max-width: 700px) {
    .notes_inner_container {
        justify-content: space-around;
        overflow-y: inherit;
        height: auto;
    }
}
